/* MAIN BODY CSS */
html, body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background: #F7F5ED;
 	overflow-x: hidden;
}

.title {
	text-align: center;
	font-family: 'BBH Hegarty';
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 3.5rem;
	color: #4C1F44;
}

.bottomMenu {
	position: 	fixed	;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background: #4C1F44;
	overflow: hidden;
	padding: 8px 15px;
	border-radius: 50px;
	box-shadow: 0 0px 14px -7px #4C1F44;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	z-index: 10;
}

.bottomMenu a {
	float: left;
	display: block;
	color: #F9F6EE;
	transition: 0.2s;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	font-family: Figtree;
	font-optical-sizing: 	auto;
	font-weight: 600;
	font-size: 1.08rem;
}

.bottomMenu a:hover {
	color: #B9648C;
	transition: 0.2s;
}

.nav-logo {
  height: 55px;
  width: auto;
}

.contact-pill {
	display: flex;
	align-items: 	center;
	background: #F7F5ED;	
	padding: 8px 8px;
	border-radius: 	999px;
	gap: 10px;
}

.contact-pill	a {
	color: #4C1F44;
	text-decoration: 	none;
	font-size: 	1.6rem;
}

.contact-icon:hover	 {
	color: #B9648C;
	bottom: 0.5rem;
	cursor: pointer;
	transform: scale(1.3);
	transition: transform 0.3 ease, color 0.3s;
}

.contact-pill	.contact-divider {
	width: 2px;
	height: 20px;
	background: #E4D8D8;
}

/* OPENING */
.leo-opening {
	position: relative;
  z-index: 2;
	height: 100vh;
	display: flex;
	align-items: 	center;
	justify-content: center;
}

#leo-bg {
	filter: blur(8px);
  background-image: 
  	linear-gradient(
		  180deg, 
		  rgba(0,0,0,1) 0%, 
		  rgba(255,255,255,0) 35%, 
		  rgba(255,255,255,0) 80%, 
		  rgba(0,0,0,1) 100%
  	),
  	url('../Public/pictures/IMG_3688.JPEG')
  	;
  background-size: cover;
  background-position: 	center;
  width: 100%;
  height: 105%;
  position: 	absolute;
  padding: 	0;
  left: 0;
  z-index: 1;
}

.quote {
	display: block;
	text-align: center;
	position: relative;
	margin: 	auto 0;
	margin-left: 	0;
	margin-right: 0;
	top: 0;
  	font-family: "Figtree";
	font-weight: 700;
	width: 80vw;
	z-index: 	3;
	color: #F7F5ED;
}

.quote h1 {
	font-weight: 	800;
	font-size: 2.4rem;
}

.quote h4 {
	margin-top: 1rem;
	font-size: 	1.2rem;
	font-weight: 500;
	font-style: italic;
	color: 	#F7F5ED;
}

.quote .ital {
	font-style: italic;
}		

.quote .under {
	text-decoration: 	underline;
}

.quote-section	h2 {
	margin-top: 20px;
	font-size: 	2.4rem;
	font-weight: 800;
}

.quote-section h6 {
	margin-top: 	-20px;
	font-weight: 400;
	font-style: italic;
	font-size: 	1.2rem;
	margin-bottom: 	12px;
}

.quotec {
	font-family: 'BBH Hegarty';
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

.divider {
	width: 10vw;
	margin-top: 2.5rem;
	margin-bottom: 10px;
	border: none;
	background-color: #F9F6EE;
	height: 3px;
}

.divider2 {
	align-items: center;
	width: 20vw;
	margin-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #674A59;
	border: none;
	height: 1.5px;
}

.divider3 {
	align-items: center;
	width: 25vw;
	margin-top: .5rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #674A59;
	border: none;
	height: 1.5px;

}

.divider4 { /*FOCUSE & HIGHLIGHTS */
	align-items: center;
	width: 20vw;
	margin-top: 1.2rem;
	margin-bottom: 	1.2rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #682C56;
	border: none;
	height: 2.5px;
}

/* DEFINITION SECTION */
.definition-section {
	height: 100vh;
	padding: 70px 60px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	flex-direction: 	column;
}

.def-bg {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: block;
	pointer-events: none;
	z-index: 0;
}

.definition-section > *:not(.def-bg) {
  position: relative;
  z-index: 1;
}

.def-header {
	margin: 	auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.def-header p {
	margin-top: 	-1rem;
	font-family: 'Figtree';
	font-weight: 500;
	color: #4C1F44;
	font-size: 1.4rem;
	padding-bottom: 3rem;
}

.def-header span {
	color: #634052;
	font-style: 	italic;
	font-weight: 	600;
	font-family: 	'Figtree';
	font-size: 	1rem;
	margin-bottom: -0.5rem;
}

.leo-track {
	position: relative;
	align-items: center;
	width: 100%;
	max-width: 900px;
	margin: auto;
}

.leo-bar {
	height: 120px;
	margin-top: 10rem;
	border-radius: 20px;
	background-color: #F3EEE8;

	border: 2px solid #E4D8D8;
	box-shadow: 0 10px 25px #E4D8D8;
}

.leo-badges {
	position: absolute;
	top: -125px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.leo-badge span {
	font-size: 4rem;
	line-height: 1;
	z-index: 2;
	color: #EEE7E3;
	font-family: 'BBH Hegarty';
}

.leo-badge::after {
  content: attr(data-text);
  position: absolute;
  top: 155%;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Figtree';
  text-transform: uppercase;
  color: #4C1F44;
  width: 100%;
  text-align: center;
}

.leo-badge {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: 120px;
	height: 120px;
	color: #833967;
		border-radius: 50%;
	border: 4px solid;
	background: linear-gradient(70deg, #4C1F44, #B35681);
	box-shadow: 0 10px 25px #E4D8D8;
}

.icons {
	position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: 	#833967;
}

.leo-desc {
	display: block;
	justify-content: center;
	text-align: center;
	position: relative;
	margin: 	auto 0;
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: 	0;
	margin-right: 0;
	top: 0;
  	font-family: "Figtree";
	font-weight: 600;
	color: #634052;
	font-size: 1.25rem;
}

.leo-desc .emp {
	font-style: italic;
}		

.why-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	background: #F3EEE8;
	border: 2px solid #E4D8D8;
	padding: 20px 70px;
	width: fit-content;
	border-radius: 15px;

	margin-left: -8rem;
	font-family: 	'Figtree';
	font-weight: 	500;
	font-size: 	1.2rem;
	box-shadow: 0 10px 25px #E4D8D8;

}

.item {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 6px 12px;
	white-space: nowrap;
}

.item-line {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 6px 12px;
	white-space: nowrap;
	font-size: 2.2rem;
	font-weight: 100;
	color: #E4D8D8;
}

.item span {
	width: 28px;
	height: 28px;
	padding: 	15px 15px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
	border-radius: 12px;
	background-color: #E5C7D5;
}

#why-icon {
		color: #833967;
		font-size: 	2.4rem;
	}

.item-row {
	flex-direction: column;
}

.item-row .one {
	font-weight: 	1000;
	font-size: 	1.4rem;
	color: #4C1F44;
}
.item-row	.em {
		font-style: 	italic;
		font-weight: 	400;
		margin-left: 5px;
		margin-top: 5px;		
		color: #634052;
}

/* ROLE SECTION */
.role-section {
	display: flex;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding: 70px 60px;
	flex-direction: column;
	background: 	#C397A6;
}

.role-bg {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: block;
	pointer-events: none;
	z-index: 0;
}

.role-section > *:not(.role-bg) {
  position: relative;
  z-index: 1;
}

.role-header {
	margin: 	auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.role-header h4 {
	color: #634052;
	font-style: 	italic;
	font-weight: 	600;
	margin-top: 	1.5rem;
	font-family: 	'Figtree';
	font-size: 	1.1rem;
	text-align: center;
	margin-bottom: -1rem;
}

.role-header p {
	margin-top: 	-1rem;
	font-family: 'Figtree';
	font-weight: 500;
	color: #4C1F44;
	font-size: 1.4rem;
}

.role-header span {
	color: #634052;
	font-style: 	italic;
	font-weight: 	600;
	font-family: 	'Figtree';
	font-size: 	1.1rem;
	margin-bottom: -0.5rem;
}

#container {
	margin-top: 	4rem;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-auto-flow: column;
  gap: 2.5rem;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;

}

.leo-photo {
  width: 	35vw;
  height: 25vw;
  display: block;
  object-fit: cover;
  border-radius: 16px; /* optional, just for style */
}

#intro {
	margin-left: 5.5rem;
}

#text-container {
  position: relative;
}

#text-container p {
	color: #563848;
	font-weight: 	500;
}


.role-text {
	font-family: 'Figtree';
	font-weight: 	400;
	font-size: 1.6rem;
	line-height: 	1;
	margin-left: 5.5rem;
	width: 	50vw;
	height: 10vh;
	position: relative;
}

.role-text	p {
	width: 	40vw;
}

#text-container	.bar {
	height: 2px;
	width: 30%;
	background-color: #833967;
	margin-top: 1rem;
	margin-bottom: 10px;
	width: 30%;
  display: 	block;
	align-items: 	left;
	align-content: relative;
	margin-left: -0.1rem;
}

/* TIMELINE */
.timeline {
	display: flex;
	position: relative;
	padding: 2rem 0;
	max-width: 1200px;
	margin: 0 auto;
	color: #F7F5ED;
	margin-top: 	-3rem;
}

.timeline::after {
	content: '';
	position: absolute;
	top: 42.5%;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	z-index: 1;

	background-color: #4C1F44;
}

.timeline-item {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;
	font-weight: 500;
	font-family: 'Figtree';
}

.timeline-dot {
	left: 20px;
	width: 20px;
	height: 20px;
	border: 4px solid #4C1F44;
	border-radius: 50%;
	flex-shrink: 0;
	background-color: white;
	z-index: 5;
}

.timeline-content::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 20px;
	width: 0;
	z-index: 1;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

.timeline-content {
	flex: 1;
	padding: 1.5rem 2rem;
	border-radius: 12px;
	font-size: 	1.1rem;

	position: relative;
}

.timeline-content h4 {
	text-transform: uppercase;
	font-weight: 800;
}

/* FOCUS & HIGHLIGHT */

.role2 {
	min-height: 100vh;
	padding: 60px 15px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
}

.fh-grid {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	max-width: 	100%;
	height: 95vh;
	gap: 15px;
	padding-top: 	2rem;
}
#fh {
	display: flex;
	flex-direction: 	column;
	padding: 20px;
	border-radius: 100px;
	background-color: white;
	box-shadow: 0 18px 30px #E4D8D8;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.focus-subheading {
	padding-top: 2rem;
	color: #682C56;
}

#fh h2 {
	font-size: 3rem;
	font-family: 	'BBH Hegarty';
	text-transform: 	uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

#stats {
	font-family: 	'BBH Hegarty';
	font-size: 6.2rem;
	margin: 0;
}
.highlights-sub {
	padding-bottom: 3rem;
	color: #682C56;
}

#info {
	font-family: 'Figtree';
	padding-bottom: 5px;
	font-size: 1.15rem;
	color: #563848;
	font-weight: 550;
}

#focus-info {
	width: 90%;
	margin-top: 20px;
	font-family: 'Figtree';
	font-size: 1.1rem;
	margin-bottom: 	-0.05px;
	font-weight: 550;
	color: #563848;
}

.highlights #stats {
	position: relative;
	text-align: center;
	color: #833967;
}

.carousel {
	display: flex;
	position:relative;
	width: 400px;
	height: 350px;
	margin: 30px auto;
	overflow: visible;
	justify-content: center;
	align-items: center;
}

.carousel-track {
	padding-top: 10px;
	display: flex;
	position: relative;
	width: 	100%;
	height: 100%;
	transform-style: preserve-3d;
	justify-content: center;
	align-items: center;
}

.carousel-item {
	position: absolute;
	width: 	100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
	transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
}

.carousel-track::-webkit-scrollbar {
	display: none;
}

#focus-pills {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 	auto;
	text-align: center;
	align-items: center;
	font-size: 1rem;
	font-family: 'Figtree';
	color: #F7F5ED;
	font-weight: 700;
	border-radius: 20px;
	width: 20vh;
	padding-top: 10px;
	padding-bottom: auto;
	height: 30px;
	background-color: 	#C37A9D;
}

/* EVENTS */
.events-section {
	padding: 60px 40px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	flex-direction: column;
	background: #C397A6;
}

.events-bg {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: block;
	pointer-events: none;
	z-index: 0;
}

.events-section > *:not(.events-bg) {
  position: relative;
  z-index: 1;
}

.event-header {
	margin: 	auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.event-header p {
	margin-top: 	-1rem;
	font-family: 'Figtree';
	font-weight: 500;
	color: #4C1F44;
	font-size: 1.4rem;
}

.event-header span {
	color: #634052;
	font-style: 	italic;
	font-weight: 	600;
	font-family: 	'Figtree';
	font-size: 	1rem;
	margin-bottom: -0.5rem;
}

.event-grid {
	display: grid;
	grid-template-columns: repeat(2, 450px);
	gap: 2rem;
	justify-content: center;
	align-items: center;
	margin-top: 	2rem;
}

.event {
	padding: 15px 25px 15px;
	display: flex;
	flex-direction: column;
	background: white;
	box-shadow: 0 10px 25px #E4D8D8;
	border-radius: 20px;
	overflow: hidden;
}

.event-content {
	order: 2;
	display: flex;
	flex-direction: 	column;
	gap: 2rem;
		width: 100%;
}

.event-text .bar {
	order: 	2;
	height: 2px;
	width: 30%;
	background: #833967;
	margin-top: 1rem;
	margin-bottom: 10px;
}

.event-name {
	order: 	1;
	font-size: 1.8rem;
	font-weight: 1000;
	color: 	#4C1F44;
	font-family: 'Figtree';

}

.event-text {
	margin-top: 	-2rem;
}

.event-text h5 {
	font-weight: 	500;
	font-size: 	1rem;
	font-family: 'Figtree';
	font-style: italic;
	color: 	#634052;
	margin-bottom: -0.2rem;
	margin-top: -0.8rem;
}

.event-details {
	font-family: 'Figtree';
	font-weight: 500;
	font-size: 1.1rem;
	color: 	#634052;
}

.event-preview {
	order: 	0;
	margin-top: 	1rem;
  flex-shrink: 0;
  width: 100%;
  height: 16rem;
  border-radius: 14px;
}

.event-preview img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* COMMUNITY PARTNERS SECTION */
.partners {
	height: 100vh;	
	margin-top: 4rem;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


@keyframes spin {
	from {transform: translateX(0);}
	to {transform: translateX(-100%);}
}

/* COMMUNITY PARTNER SECTION */

.partners {
	height: 100vh;
	position: relative;
	display: flex;
	align-items: 	center;
	justify-content: center;
}


.partners > *:not(.partners-bg) {
  position: relative;
  z-index: 1;
}

.partners-header {
	margin: 	auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.partners-header h1 {
	color: #4C1F44;
	margin-top: -8rem;
}


/* COMMUNITY PARTNERS LOOP */
.cp-loop {
	margin: 100px auto;
	width: 100%;
	display: flex;
	overflow: hidden;
	top: -8rem;
}

.cp-loop::-webkit-scrollbar {
	display: none;
}

.cp {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .6em;
	animation: spin 8s linear infinite;
	padding-right: .5em;
	will-change: transform;
}

.cp-group {
	flex: 0 0 5em;
	padding: 1em;
	font-size: 3em;
	border-radius: 1.5em;
	text-align: center;
	align-content: center;
	font-family: "BBH Hegarty";
	font-weight: 200;
	overflow: hidden;
	color: #D8ABC3;
}

#logo {
	max-width: 100%;
	max-height: 	100%;
	overflow: hidden;
	display: block;
	overflow: clip;
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: 100%;
}

.cp-loop:hover .cp {
	animation-play-state: 	paused;
}
