/* MAIN Body CSS */
/* MAIN BODY CSS */
html, body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background: #F7F5ED;
 	overflow-x: hidden;
}

.title {
	text-align: center;
	font-family: 'BBH Hegarty';
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 3.5rem;
	color: #4C1F44;
}

.bottomMenu {
	position: 	fixed	;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background: #4C1F44;
	overflow: hidden;
	padding: 8px 15px;
	border-radius: 50px;
	box-shadow: 0 0px 14px -7px #4C1F44;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	z-index: 10;
}

.bottomMenu a {
	float: left;
	display: block;
	color: #F9F6EE;
	transition: 0.2s;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	font-family: Figtree;
	font-optical-sizing: 	auto;
	font-weight: 600;
	font-size: 1.08rem;
}

.bottomMenu a:hover {
	color: #B9648C;
	transition: 0.2s;
}

.nav-logo {
  height: 55px;
  width: auto;
}

.contact-pill {
	display: flex;
	align-items: 	center;
	background: #F7F5ED;	
	padding: 8px 8px;
	border-radius: 	999px;
	gap: 10px;
}

.contact-pill	a {
	color: #4C1F44;
	text-decoration: 	none;
	font-size: 	1.6rem;
}


.contact-icon:hover	 {
	color: #B9648C;
	bottom: 0.5rem;
	cursor: pointer;
	transform: scale(1.3);
	transition: transform 0.3 ease, color 0.3s;
}

.contact-pill	.contact-divider {
	width: 2px;
	height: 20px;
	background: #E4D8D8;
}


/* CONTEXT */
.hero-section {
	position: relative;
  z-index: 2;
	height: 100vh;
	display: flex;
	align-items: 	center;
	justify-content: center;
}

#hero-bg {
	filter: blur(2px);
  background-image: 
  	linear-gradient(
		  180deg, 
		  rgba(0,0,0,1) 0%, 
		  rgba(255,255,255,0) 35%, 
		  rgba(255,255,255,0) 80%, 
		  rgba(0,0,0,1) 100%
  	),
  	url('../Public/pictures/DSCF1554.jpg')
  	;
  background-size: cover;
  background-position: 	center;
  width: 100%;
  height: 105%;
  position: 	absolute;
  padding: 	0;
  left: 0;
  z-index: 1;
}

.quote {
	display: block;
	text-align: center;
	position: relative;
	margin: 	auto 0;
	margin-left: 	0;
	margin-right: 0;
	top: 0;
  	font-family: "Figtree";
	font-weight: 700;
	width: 80vw;
	z-index: 	3;
	color: #F7F5ED;

}

.quote h1 {
	font-weight: 	1000;
	font-size: 2.5rem;
	color: 	#F7F5ED;
	text-shadow: 	2px 4px 5px #4C1F44;

}

.quote h3 {
	margin-top: 1rem;
	font-size: 	1.3rem;
	font-weight: 500;
	font-style: italic;
	color: 	#F7F5ED;
		text-shadow: 	2px 4px 5px #4C1F44;
}


/* ABOUT SECTION */
.about-section {
	padding: 80px 20px 60px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	flex-direction: column;
}

.about-bg {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: block;
	pointer-events: none;
	z-index: 0;
}

.about-section > *:not(.about-bg) {
  position: relative;
  z-index: 1;
}

.about-header {
	margin: 	auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about-header span {
	color: #634052;
	font-style: 	italic;
	font-weight: 	600;
	font-family: 	'Figtree';
	font-size: 	1rem;
	margin-bottom: -1rem;
	text-align: center;

}

.about-header h4 {
	color: #634052;
	font-style: 	italic;
	font-weight: 	600;
	margin-top: 	1.5rem;
	font-family: 	'Figtree';
	font-size: 	1.1rem;
	text-align: center;
	margin-bottom: -2rem;
}

.about-header p {
	margin-top: 	-1rem;
	font-family: 'Figtree';
	font-weight: 500;
	color: #4C1F44;
	font-size: 1.4rem;
	padding-bottom: 3rem;
}

.nths-content {
	position: relative;
	align-items: center;
	width: 100%;
	max-width: 900px;
	margin: auto;
}

.nths-bar {
	height: 120px;
	margin-top: 10rem;
	border-radius: 20px;
	background-color: #F3EEE8;

	border: 2px solid #E4D8D8;
	box-shadow: 0 10px 25px #E4D8D8;
}

.nths-badges {
	position: absolute;
	top: -125px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.nths-badge span {
	font-size: 4rem;
	line-height: 1;
	z-index: 2;
	color: #EEE7E3;
	font-family: 'BBH Hegarty';
}

.nths-badge::after {
  content: attr(data-text);
  position: absolute;
  top: 155%;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Figtree';
  text-transform: uppercase;
  color: #4C1F44;
  width: 100%;
  text-align: center;
}

.nths-badge {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: 120px;
	height: 120px;
	color: #833967;
		border-radius: 50%;
	border: 4px solid;
	background: linear-gradient(70deg, #4C1F44, #B35681);
	box-shadow: 0 10px 25px #E4D8D8;
}

.icons {
	position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: 	#833967;
}

.nths-desc {
	display: block;
	justify-content: center;
	text-align: center;
	position: relative;
	margin: 	auto 0;
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: 	0;
	margin-right: 0;
	top: 0;
  	font-family: "Figtree";
	font-weight: 600;
	color: #634052;
	font-size: 1.25rem;
}

.nths-desc .emp {
	font-style: italic;
}		

.values-grid {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
}

.values-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background: #F3EEE8;
	box-shadow: 0 10px 25px #E4D8D8;
	border: 2px solid #E4D8D8;
	padding: 20px 70px;
	width: fit-content;
	border-radius: 15px;
	font-family: 	'Figtree';
	font-weight: 	500;
	font-size: 	1.2rem;
}

#onebox {
position: 	relative	;
	margin-left: -7.5rem;

}

#secondbox {
position: 	relative	;
	margin-left: -2.2rem;

}


#thirdbox {
position: 	relative	;
	margin-left: -4.5rem;

}


.item {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 6px 12px;
	white-space: nowrap;
}

.item-line {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 6px 12px;
	white-space: nowrap;
	font-size: 2.2rem;
	font-weight: 100;
	color: #E4D8D8;
}

.item span {
	width: 28px;
	height: 28px;
	padding: 	15px 15px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
	border-radius: 12px;
	background-color: #E5C7D5;
}

#value-icon {
		color: #833967;
		font-size: 	2.4rem;
	}

.item-row {
	flex-direction: column;
}

.item-row .one {
	font-weight: 	1000;
	font-size: 	1.4rem;
	color: #4C1F44;
}
.item-row	.em {
	font-style: 	italic;
	font-weight: 	400;
	margin-left: 5px;
	margin-top: 5px;		
	color: #634052;
	font-size: 1.1rem;
}


/* ANIMATED LIST 
.scroll-list-container {
  position: relative;
  width: 500px;
  margin-right: 	10px;

}

.scroll-list {
  height: 280px;
  overflow-y: auto;
  padding: 16px;
}

.scroll-list::-webkit-scrollbar {
  width: 8px;
}

.scroll-list::-webkit-scrollbar-track {
	background: #F9F6EE;
}

.scroll-list::-webkit-scrollbar-thumb {
  background: 		#674A59;
  border-radius: 4px;
}

.item {
  background: #875A71;
  color: #fff;
  margin: 4px 12px;
  border-radius: 8px;
  padding: 12px 18px;
  transition: background 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.item.selected {
  background: #bd8da5;
  transform: translateX(4px);
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-text {
  margin: 0;
  font-size: 1.1rem;
 	font-family: 'BBH Hegarty';
 	text-transform: uppercase;
 	letter-spacing: 1.2px;
  font-weight: 0;
}

.item-arrow {
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}
*/

/* Collapsible body */
.item-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.2s ease, opacity 0.2s ease;
  font-size: 1em;
  margin-top: 4px;
  font-family: 'Figtree';
  font-weight: 400;
  width: 95%;
}

.item.open .item-body {
  max-height: 200px; /* just needs to be larger than expected content */
  opacity: 1;
}

.item.open .item-arrow {
  transform: rotate(180deg);
}

/* ACHIEVEMENTS SECTION */
.ach-section {
	min-height: 100vh;
	padding: 60px 15px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: column	;
}

.mile-header {
	margin: 	auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ach-grid {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	max-width: 	100%;
	height: 95vh;
	gap: 15px;
}

#ach {
	display: flex;
	flex-direction: 	column;
	padding: 20px;
	border-radius: 100px;
	background-color: white;
	box-shadow: 0 18px 30px #E4D8D8;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#subheading {
	font-size: 3rem;
	font-family: 	'BBH Hegarty';
	text-transform: 	uppercase;
	letter-spacing: 1px;
	padding: 2rem;
	color: #682C56;
}

.date {
	font-size: 1.2rem;
	font-weight: 600;
	font-family: 'Figtree';
	font-style: italic;
	margin-top: -3.2rem;
	margin-bottom: 5px;
	color: #634052;
}

.history {
		font-size: 1.2rem;
			font-style: italic;

	font-weight: 600;
	font-family: 'Figtree';
	color: #634052;
}

#h1 {
	margin-top: -3.2rem;
	margin-bottom: -0.5rem;
}

#h2 {
	margin-bottom: 10px;
}

.carousel {
	display: flex;
	position:relative;
	width: 470px;
	height: 350px;
	margin: 30px auto;
	overflow: visible;
	justify-content: center;
	align-items: center;
}

.carousel-track {
	padding-top: 10px;
	display: flex;
	position: relative;
	width: 	100%;
	height: 100%;
	transform-style: preserve-3d;
	justify-content: center;
	align-items: center;
}

.carousel-item {
	position: absolute;
	width: 	100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
	transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
}

.carousel-track::-webkit-scrollbar {
	display: none;
}

.carousel-item img#induction3, #induction3 {
	object-position: 50% 30%;
}

.carousel-item img#induction1, #induction1 {
	object-position: 40%;
}

#ld-pills {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 	auto;
	text-align: center;
	align-items: center;
	font-size: 1rem;
	font-family: 'Figtree';
	color: #F7F5ED;
	font-weight: 700;
	border-radius: 20px;
	width: 20vh;
	padding-top: 10px;
	padding-bottom: auto;
	height: 30px;
	background-color: 	#C37A9D;
}

#ls-pills {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 	auto;
	text-align: center;
	align-items: center;
	font-size: 1rem;
	font-family: 'Figtree';
	color: #F7F5ED;
	font-weight: 700;
	border-radius: 20px;
	width: 20vh;
	padding-top: 10px;
	padding-bottom: auto;
	height: 30px;
	background-color: 	#C37A9D;
}

/* EVENTS */
.events {
	padding: 60px 40px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	flex-direction: column;
	background: #C397A6;
}

.events-bg {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: block;
	pointer-events: none;
	z-index: 0;
}

.events > *:not(.events-bg) {
  position: relative;
  z-index: 1;
}

.event-header {
	margin: 	auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.event-header p {
	margin-top: 	-1rem;
	font-family: 'Figtree';
	font-weight: 500;
	color: #4C1F44;
	font-size: 1.4rem;
}

.event-header span {
	color: #634052;
	font-style: 	italic;
	font-weight: 	600;
	font-family: 	'Figtree';
	font-size: 	1rem;
	margin-bottom: -0.5rem;
}

.event-grid {
	display: grid;
	grid-template-columns: repeat(2, 450px);
	gap: 2rem;
	justify-content: center;
	align-items: center;
	margin-top: 	2rem;
}

.event {
	padding: 15px 25px 15px;
	display: flex;
	flex-direction: column;
	background: white;
	box-shadow: 0 10px 25px #E4D8D8;
	border-radius: 20px;
	overflow: hidden;
}

.event-content {
	order: 2;
	display: flex;
	flex-direction: 	column;
	gap: 2rem;
		width: 100%;
}

.event-text .bar {
	order: 	2;
	height: 2px;
	width: 30%;
	background: #833967;
	margin-top: 1rem;
	margin-bottom: 10px;
}

.event-name {
	order: 	1;
	font-size: 1.8rem;
	font-weight: 1000;
	color: 	#4C1F44;
	font-family: 'Figtree';

}

.event-text {
	margin-top: 	-2rem;
}

.event-text h5 {
	font-weight: 	500;
	font-size: 	1rem;
	font-family: 'Figtree';
	font-style: italic;
	color: 	#634052;
	margin-bottom: -0.2rem;
	margin-top: -0.8rem;
}

.event-details {
	font-family: 'Figtree';
	font-weight: 500;
	font-size: 1.1rem;
	color: 	#634052;
}

.event-preview {
	order: 	0;
	margin-top: 	1rem;
  flex-shrink: 0;
  width: 100%;
  height: 16rem;
  border-radius: 14px;
}

.event-preview img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
  object-position: center;
  display: block;
}



