/* MAIN Body CSS */
html, body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background: #F7F5ED;
 	overflow-x: hidden;
}

.title {
	text-align: center;
	font-family: 'BBH Hegarty';
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 3.5rem;
	color: #4C1F44;
}

.bottomMenu {
	position: 	fixed	;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background: #4C1F44;
	overflow: hidden;
	padding: 8px 15px;
	border-radius: 50px;
	box-shadow: 0 0px 14px -7px #4C1F44;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	z-index: 10;
}

.bottomMenu a {
	float: left;
	display: block;
	color: #F9F6EE;
	transition: 0.2s;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	font-family: Figtree;
	font-optical-sizing: 	auto;
	font-weight: 600;
	font-size: 1.08rem;
}

.bottomMenu a:hover {
	color: #B9648C;
	transition: 0.2s;
}

.nav-logo {
  height: 55px;
  width: auto;
}

.contact-pill {
	display: flex;
	align-items: 	center;
	background: #F7F5ED;	
	padding: 8px 8px;
	border-radius: 	999px;
	gap: 10px;
}

.contact-pill	a {
	color: #4C1F44;
	text-decoration: 	none;
	font-size: 	1.6rem;
}

.contact-icon:hover	 {
	color: #B9648C;
	bottom: 0.5rem;
	cursor: pointer;
	transform: scale(1.3);
	transition: transform 0.3 ease, color 0.3s;
}

.contact-pill	.contact-divider {
	width: 2px;
	height: 20px;
	background: #E4D8D8;
}

.divider2 {
	align-items: center;
	width: 28vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #674A59;
	border: none;
	height: 1.5px;
	margin-bottom: 	3rem;

}

.divider3 {
	align-items: center;
	width: 15vw;
	margin-top: .5rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #674A59;
	border: none;
	height: 1.5px;
	margin-bottom: 	4rem;

}

.divider4 {
	align-items: center;
	width: 25vw;
	margin-top: .5rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #674A59;
	border: none;
	height: 1.5px;

}

.divider5 { /*FOCUSE & HIGHLIGHTS */
	align-items: center;
	width: 20vw;
	margin-top: 1.2rem;
	margin-bottom: 	1.2rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #7A5267;
	border: none;
	height: 1.5px;
}

/* CONTEXT */
.hero-section {
	position: relative;
  z-index: 2;
	height: 100vh;
	display: flex;
	align-items: 	center;
	justify-content: center;
}

#hero-bg {
	filter: blur(1px);
  background-image: 
  	linear-gradient(
		  180deg, 
		  rgba(0,0,0,1) 0%, 
		  rgba(255,255,255,0) 35%, 
		  rgba(255,255,255,0) 80%, 
		  rgba(0,0,0,1) 100%
  	),
  	url('../Public/pictures/skillsusa.jpg')
  	;
  background-size: cover;
  background-position: 	center;
  width: 100%;
  height: 105%;
  position: 	absolute;
  padding: 	0;
  left: 0;
  z-index: 1;
}

.quote {
	display: block;
	text-align: center;
	position: relative;
	margin: 	auto 0;
	margin-left: 	0;
	margin-right: 0;
	top: 0;
  	font-family: "Figtree";
	font-weight: 700;
	width: 80vw;
	z-index: 	3;
	color: #F7F5ED;
	text-shadow: 	2px 4px 5px #4C1F44;
}

.quote h1 {
	font-weight: 	800;
	font-size: 2.4rem;
}

.quote h4 {
	margin-top: 1rem;
	font-size: 	1.2rem;
	font-weight: 500;
	font-style: italic;
	color: 	#F7F5ED;
}

.quote .ital {
	font-style: italic;
}		

.quote .under {
	text-decoration: 	underline;
}

.one-line {
		font-family: 'BBH Hegarty';
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	word-spacing: 10px;
}

.divider {
	width: 10vw;
	margin-top: 2.5rem;
	margin-bottom: 10px;
	border: none;
	background-color: #F9F6EE;
	height: 3px;
}


/* STATS */
.skill-stats-section {
	max-height: 100vh;
	padding: 80px 15px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	position: 	relative;
}


.stat-header {
	margin-top: 	3rem;
	margin: 	auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.stats-grid {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row;
	gap: 2rem;
	padding: 2rem;
	width: fit-content;
	height: 50%;
	margin: auto;
	position: relative;
}

.stat-item {
	display: flex;
	flex-direction: 	column;
	padding: 2.5rem;
	border-radius: 80px;
	background-color: white;
	box-shadow: 0 18px 30px #E4D8D8;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.stat-heading {
	color: #682C56;
	padding-top: 	2rem;
	font-size: 3rem;
	font-family: 'BBH Hegarty';
	text-transform: uppercase;
	letter-spacing: 1.2px;
	margin-bottom: 	4rem;
}

.stat-subheading {
	color: #634052;
	font-weight: 600;
	font-style: italic;
	font-family: 'Figtree';
	font-size: 1.2rem;
	margin-top: -2.5rem;
}

.stat-number {
	font-family: 'BBH Hegarty';
	font-size: 5rem;
	margin: 0;
	position: relative;
	text-align: center;
	color: #833967;
	letter-spacing: 1.2px;
}

.labels {
	font-family: 'Figtree';
	padding-bottom: 5px;
	font-size: 1.2rem;
	color: #634052;
	font-weight: 400;
}

/* CTSO */
.ctso {
	min-height: 100vh;
	padding: 80px 15px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: 	column;
}


.ctso-header {	
	margin: 	auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ctso-header h3 {
	margin-top: 	-1rem;
	font-family: 'Figtree';
	font-weight: 500;
	color: #4C1F44;
	font-size: 1.4rem;
	padding-bottom: 3rem;
}

.ctso-header span {
	color: #634052;
	font-style: 	italic;
	font-weight: 	600;
	font-family: 	'Figtree';
	font-size: 	1rem;
	margin-bottom: -0.5rem;
}

.ctso-grid {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	max-width: 	100%;
	height: 95vh;
	gap: 15px;
}

.ctso-comp {
	display: flex;
	flex-direction: 	column;
	padding: 20px;
	border-radius: 100px;
	background-color: white;
	box-shadow: 0 18px 30px #E4D8D8;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.ctso-subheading {
	font-size: 3rem;
	font-family: 	'BBH Hegarty';
	text-transform: 	uppercase;
	letter-spacing: 1px;
	padding: 2rem;
	color: #682C56;
}

.name {
	font-size: 1.2rem;
	font-weight: 600;
	font-family: 'Figtree';
	font-style: italic;
	margin-top: -3.2rem;
	margin-bottom: 5px;
	color: #634052;
}

.carousel {
	display: flex;
	position:relative;
	width: 440px;
	height: 350px;
	margin: 30px auto;
	overflow: visible;
	justify-content: center;
	align-items: center;
}

.carousel-track {
	padding-top: 10px;
	display: flex;
	position: relative;
	width: 	100%;
	height: 100%;
	transform-style: preserve-3d;
	justify-content: center;
	align-items: center;
}

.carousel-item {
	position: absolute;
	width: 	100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
	transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
}

.carousel-track::-webkit-scrollbar {
	display: none;
}

#ctso-pills {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 	auto;
	text-align: center;
	align-items: center;
	font-size: 1rem;
	font-family: 'Figtree';
	color: #F7F5ED;
	font-weight: 700;
	border-radius: 20px;
	width: 15vw;
	padding-top: 10px;
	padding-bottom: auto;
	height: 30px;
	background-color: 	#C37A9D;
}

#ctso-pills2 {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 	auto;
	text-align: center;
	align-items: center;
	font-size: 1rem;
	font-family: 'Figtree';
	color: #F7F5ED;
	font-weight: 700;
	border-radius: 20px;
	width: 15vw;
	padding-top: 10px;
	padding-bottom: auto;
	height: 30px;
	background-color: 	#C37A9D;
}



/* EVENTS */
.events {
	padding: 60px 40px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	flex-direction: column;
	background: #C397A6;
}

.events-bg {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: block;
	pointer-events: none;
	z-index: 0;
}

.events > *:not(.events-bg) {
  position: relative;
  z-index: 1;
}

.event-header {
	margin: 	auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.event-header p {
	margin-top: 	-1rem;
	font-family: 'Figtree';
	font-weight: 500;
	color: #4C1F44;
	font-size: 1.4rem;
}

.event-header span {
	color: #634052;
	font-style: 	italic;
	font-weight: 	600;
	font-family: 	'Figtree';
	font-size: 	1rem;
	margin-bottom: -0.5rem;
}

.event-grid {
	display: grid;
	grid-template-columns: repeat(2, 450px);
	gap: 2rem;
	justify-content: center;
	align-items: center;
	margin-top: 	2rem;
}

.event {
	padding: 15px 25px 15px;
	display: flex;
	flex-direction: column;
	background: white;
	box-shadow: 0 10px 25px #E4D8D8;
	border-radius: 20px;
	overflow: hidden;
}

.event-content {
	order: 2;
	display: flex;
	flex-direction: 	column;
	gap: 2rem;
		width: 100%;
}

.event-text .bar {
	order: 	2;
	height: 2px;
	width: 30%;
	background: #833967;
	margin-top: 1rem;
	margin-bottom: 10px;
}

.event-name {
	order: 	1;
	font-size: 1.8rem;
	font-weight: 1000;
	color: 	#4C1F44;
	font-family: 'Figtree';

}

.event-text {
	margin-top: 	-2rem;
}

.event-text h5 {
	font-weight: 	500;
	font-size: 	1rem;
	font-family: 'Figtree';
	font-style: italic;
	color: 	#634052;
	margin-bottom: -0.2rem;
	margin-top: -0.8rem;
}

.event-details {
	font-family: 'Figtree';
	font-weight: 500;
	font-size: 1.1rem;
	color: 	#634052;
}

.event-preview {
	order: 	0;
	margin-top: 	1rem;
  flex-shrink: 0;
  width: 100%;
  height: 16rem;
  border-radius: 14px;
}

.event-preview img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
  object-position: center;
  display: block;
}
